#players {
    display: flex;
    flex-wrap: wrap;
}



img {
    height: 20rem; ;
    width: 21rem;
    display: flex;
    border-radius: 1%;
    border: 0;
    padding: 0;




.pic .text {
    position:static;
    text-align: center;
    visibility: hidden;
    vertical-align:top;

    position: relative;
    text-align: center;
    visibility: hidden;
}
}