.top5 {
    float:left;
    display: flex;
}
.lower5 {
    float: left;
    display: flex;
}

img {
height: 20rem; ;
width: 21.5rem;
display: flex;
border-radius: 1%;
border: 0;

}
img:hover {
    transform: scale(1.2);
    
}


.pic .text {
    position: relative;
    text-align: center;
    visibility: hidden;
}

.pic:hover .text {
    visibility: visible;
}

.pic:hover .image {
    opacity: 0.3;
  }
  