#players {
    display: flex;
    flex-wrap: wrap;
}



img {
    height: 23.5rem; ;
    width: 23.4rem;
    display: flex;
    border-radius: 1%;
    border: 0;
    padding: 0;
    opacity: 1;
    margin: 0;
}


h3{
    display:flex
}

img:hover{
    opacity: 0.5;
    background-color: grey;
}
.stats {
    visibility: hidden;
    transform: translate(25%,-150%);
    color:white;
    border: 0;
    padding: 0;
    opacity: 1;
    margin: 0;
}




.container:hover .stats {
    visibility: visible;
}

